/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007BFF;
    color: white;
    padding: 10px;
}

h1 {
    font-size: 24px;
    margin: 1vw;
    padding: 0;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info p {
    margin: 0;
    margin-right: 10px;
}

.logout-btn,
input[type="submit"] {
    margin-left: 10px;
}

.logout-btn a,
input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.2s;
}

.logout-btn a:hover,
input[type="submit"]:hover {
    background-color: #004080;
}

.logout-btn a:focus,
input[type="submit"]:focus {
    outline: none;
}

.logout-btn a:active,
input[type="submit"]:active {
    background-color: #004080;
}

.main-column {
    flex: 1;
    margin-bottom: 20px;
}

.label-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.label-left {
    flex: 1;
    color: #007BFF;
    font-weight: bold;
}

.label-right {
    flex: 1;
    color: #007BFF;
    font-weight: bold;
    margin-left: 20px;
}

textarea,
input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow-wrap: break-word;
}

textarea[readonly],
input[type="text"][readonly] {
    background-color: #f2f2f2;
    border-color: #f2f2f2;
    color: #000;
    cursor: default;
}

textarea:focus,
input[type="text"]:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#output,
#output_vi {
    max-height: 400px;
    overflow-y: auto;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-wrap: break-word;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

input[type="submit"]:focus {
    outline: none;
}

input[type="submit"]:active {
    background-color: #004080;
}

.label-row {
    padding: 10px;
}

.main-column {
    margin-right: 20px;
}

textarea {
    resize: none;
}

form {
    margin: 1vw;
}

.action-btn {
    margin-top: 20px;
}

.action-btn a, .action-btn button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 16px;
}

.action-btn a:hover, .action-btn button:hover {
    background-color: #004080;
}

.action-btn a:focus, .action-btn button:focus {
    outline: none;
}

.action-btn a:active, .action-btn button:active {
    background-color: #004080;
}